<div class="bg-gray p-5">
    <div class="d-flex justify-content-evenly">
        <div class="third">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <br>
            <p>Clark, MO 65243</p>
        </div>
        <div class="third">
            <h2>AROUND THE WEB</h2>
            <div class="d-flex justify-content-center align-items-center flex-row">
                <i class="fab fa-facebook mx-1 icon border p-2 rounded-circle"></i>
                <i class="fab fa-twitter mx-1 icon border p-2 rounded-circle"></i>
                <i class="fab fa-linkedin-in mx-1 icon border p-2 rounded-circle"></i>
                <i class="fa-solid fa-globe mx-1 icon border p-2 rounded-circle"></i>
            </div>
        </div>
        <div class="third">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
<div class="text-center text-white bg-dark-two p-4">Copyright © Your Website 2021</div>