<div class="bg-main min">
    <div class="min-vh-30"></div>
    <div class="container">
        <h2 class="fw-bold fs-1">ABOUT COMPONENT</h2>
        <app-star></app-star>
        <div class="w-50 d-inline-block" >Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
        <div class="w-50 d-inline-block" >Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
    </div>
    <div class="min-vh-30"></div>
</div>