<h1 class="text-center">CONTACT SECTION</h1>
<app-star></app-star>
<form >
    <div class="mb-3 m-auto w-50">
        <label for="exampleFormControlInput1" class="form-label">userName</label>
        <input type="email" class="form-control border-0 shadow-sm" id="exampleFormControlInput1" placeholder="userName">
    </div>
    <div class="mb-3 m-auto w-50">
        <label for="exampleFormControlInput2" class="form-label">userAge :</label>
        <input type="email" class="form-control border-0 shadow-sm" id="exampleFormControlInput2" placeholder="userAge">
    </div>
    <div class="mb-3 m-auto w-50">
        <label for="exampleFormControlInput3" class="form-label">userEmail :</label>
        <input type="email" class="form-control border-0 shadow-sm" id="exampleFormControlInput3" placeholder="userEmail">
    </div>
    <div class="mb-3 m-auto w-50">
        <label for="exampleFormControlInput4" class="form-label">userPassword :</label>
        <input type="email" class="form-control border-0 shadow-sm" id="exampleFormControlInput4" placeholder="userPassword">
    </div>
    <div class="mb-3 m-auto w-50">
        <button class="bg-main rounded border-0 text-white p-2">send Message</button>
    </div>
    
</form>
