<nav class="navbar navbar-expand-lg bg-nav pt-3 pb-3 sticky-top">
    <div class="container">
      <a class="navbar-brand p-1 fs-1 fw-bold" routerLink="home">START FRAMWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto pt-2" id="navbarSupportedContent">
        <ul class="navbar-nav mb-4 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="about" routerLinkActive="bg-main rounded">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="protofolio" routerLinkActive="bg-main rounded">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-bold" routerLink="contact" routerLinkActive="bg-main rounded">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
